.slideshow-container {
    max-width: 30%;
    position: relative;
    margin-left: 20%;
    margin-top: 6%;

}

.mySlides {
    display: none;
    height: 400px;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 20px;
    color: RGBA(69, 123, 173, 0.65);
    font-size: 40px;
    font-weight: lighter;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: -80px;
    border-radius: 3px 3px 3px 3px;
}

.prev {
    left: -80px;
    border-radius: 3px 3px 3px 3px;
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
}


.cart-description p {
    color: white;
    width: 25%;
    font-size: .9em;
    float: right;
    line-height: 1.8em;
    margin-right: 15%;
    margin-top: -20%;
    margin-bottom: 3%;
}

.cart-description p a {
    color: white;
    text-decoration: underline;
}