.social-media {
    position: absolute;
    top: 15%;
    left: 5%;
    display: inline;
}

@media only screen and (min-width: 1024px) {
    .social-media {
        width: 50%;
        position: absolute;
        justify-content: center;
        top: 15%;
        left: 25%;
        flex-flow: row;
        display: flex;
    }
}